<div class="btn-group btn-group-sm" role="group">
    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle btn-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans 'Actions' %}
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
        <a class="dropdown-item action-item" href="{% url 'edit_user' record.user_id %}?{{next}}">{% trans 'Edit' %}</a>
        <a class="dropdown-item action-item" href="{% url 'set_password' record.user_id %}?{{next}}">{% trans 'Set Password' %}</a>
        <a class="dropdown-item action-item" href="{% url 'delete_user' record.user_id %}?{{next}}" onclick="return confirm('{% trans "Are you sure?" %}');">{% trans 'Delete' %}</a>
    </div>
</div>
