{% extends 'base.html' %}

{% block title %} {% trans 'Change Password' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 card card-body">

  <form id="form" action"." method="post" class="form-horizontal"autocomplete=off>

    {% csrf_token %}
    {% bootstrap_form form %}

  </div>
  <button id="submit" class="btn btn-primary pull-right" type="submit">{% trans 'Send' %}</button>
</form>
</div>
</div>
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>{% trans 'Change Password' %}</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li>{% trans 'Users' %}</li>
                    <li class="active">{% trans 'Change Password' %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}