asgiref==3.5.2
autopep8==1.6.0
beautifulsoup4==4.7.1
bootstrap4==0.1.0
bs4==0.0.1
cairocffi==0.8.1
CairoSVG==2.1.3
certifi==2018.4.16
cffi==1.15.1
chardet==3.0.4
click==8.1.3
cssselect2==0.2.1
dataclasses==0.6
defusedxml==0.5.0
Django==4.0.6
django-bmemcached==0.2.3
django-bootstrap-datepicker-widget==0.1
django-bootstrap4==0.0.6
django-datetime-widget==0.9.3
django-rosetta==0.8.1
django-tables2==2.4.1
dnspython==1.16.0
gunicorn==19.9.0
html5lib==1.1
idna==2.7
joblib==1.1.0
microsofttranslator==0.8
nltk==3.7
numpy==1.23.1
pandas==1.4.3
pdfrw==0.4
Pillow==9.2.0
polib==1.1.0
pycodestyle==2.9.0
pycparser==2.18
pymongo==3.12.3
Pyphen==0.9.4
python-binary-memcached==0.28.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-memcached==1.59
pytz==2022.1
regex==2022.7.25
reportlab==3.6.11
requests==2.19.1
rosetta==0.3
scipy==1.9.0
six==1.11.0
soupsieve==1.8
sqlparse==0.4.2
tinycss2==1.1.1
toml==0.10.2
tqdm==4.64.0
typing==3.6.6
uhashring==1.1
urllib3==1.23
waitress==1.3.1
weasyprint==56.1
webencodings==0.5.1
whitenoise==6.2.0