{% extends 'base.html' %}
{% block title %}SGC - {% trans 'Groups' %}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>{% trans 'Groups' %}</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">{% trans 'Groups' %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="get">
                    {% for f in form %}
                    <div class="col-lg-3">
                        {% bootstrap_field f %}
                    </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary pull-right">{% trans 'Search' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-12">
                    <a class="btn btn-primary pull-right" href="{% url 'add_group' %}" role="button">{% trans 'Add Group' %}</a>
                </div>
                {% render_table table 'table.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}