.content-page {
  height: 100% !important;
  overflow: auto !important;
}
html, body{
    height:100% !important;
    width:100% !important;
}
.bootstrap-select .dropdown-toggle, .bootstrap-select .selectpicker.dropdown-toggle {
  border: 1px solid #ced4da !important;
}
.bootstrap-select.is-valid .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:valid+.dropdown-toggle {
  border: 1px solid #28a745 !important;
}
.bootstrap-select button {
  line-height: 24px;
}
#boxTreasures .card{
    border: 1px solid rgba(0,0,0,.125) !important;
}
#boxApplyYourself .card{
    border: 1px solid rgba(0,0,0,.125) !important;
}
#boxLivingChristians .card{
    border: 1px solid rgba(0,0,0,.125) !important;
}
.remove-box {
  font-size: 20px;
  cursor: pointer;
}
.remove-box:hover{
  color: #f00;
}
.invalid-select > .btn {
  border-color: #f00 !important;
}
.field-designation {
  height: 100px;
}
.btn-xs {
  padding: .15rem .3rem;
  font-size: .875rem;
  line-height: 1.2;
}

.suggest {
  cursor: pointer;
}
.boxItem{
  position: relative;
  border: 1px solid #ced4da !important;
  padding: 5px;
  margin-bottom: 10px;
}
.removeItem{
  position: absolute;
  margin: -8px;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 16px;
}
.removeItem:hover{
  color: #ff0000;
  font-size: 17px;
}
.addItemSub{
  position: absolute;
  margin: -8px;
  right: 40px;
  top: 20px;
  cursor: pointer;
  font-size: 16px;
}
.addItemSub:hover{
  color: blue;
  font-size: 17px;
}
.addInlineItem{
  position: absolute;
  margin: -8px;
  right: 60px;
  top: 20px;
  cursor: pointer;
  font-size: 16px;
}
.addInlineItem:hover{
  color: blue;
  font-size: 17px;
}