body {
    font-family: 'Cantarell', sans-serif;
}
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntul';
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@page {
    size: a4 portrait;
    margin: 30mm 10mm 10mm 10mm;

}
html {
    font-family: 'Cantarell';
    font-size: 13px;
    font-weight: normal;
    color: #000000;
    background-color: white;
    margin: 0;
    padding: 0;
    display: inline;
    width: auto;
    height: auto;
    white-space: normal;
}

p {
    margin: 0;
    padding: 0;
}
.header {
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    left: 50%;
    margin-left: -400px;
    height: 100px;
    top: -70px;
    width: 800px;
}
.box-item {
    width: 100%;
}
.date-item {
    font-weight: bold;
    font-family: 'Ubuntu';
    font-style: italic;
    font-size: 18px;
}
.date-item2 {
    font-weight: bold;
    font-family: 'Ubuntu';
    font-style: italic;
    font-size: 15px;
}
.title-item {
    font-weight: bold;
    font-family: 'Ubuntu';
    font-style: italic;
    font-size: 18px;
}
.meetings {
    margin-top: 30px;
    margin-bottom: 50px;
}
.speakers {
    margin-top: 30px;
    margin-bottom: 30px;
}
hr {
    border: 0.5px solid #000;
    margin-top: 0;
    margin-bottom: 5px;

}
.title-designation {
    font-weight: bold;
    font-family: 'Ubuntu';
    width: 110px;
}
.two-names {
    width: 290px;
}
.table-designations {
    margin-bottom: 10px;
}
.table-weekend {
    margin-bottom: 10px;
}
tr {
    line-height: 1.2;
}
.pull-right {
    text-align: right;
}
.date-midweek{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    width: 400px;
}
.small-title {
    font-size: 8px;
}
.title-treasures {
    color: white;
    background-color: #5a6a70;
    padding: 3px;
    font-weight: bold;
    font-family: 'Ubuntu';
}
.title-apply {
    color: white;
    background-color: #c18626;
    padding: 3px;
    font-weight: bold;
    font-family: 'Ubuntu';
}
.title-living {
    color: white;
    background-color: #961526;
    padding: 3px;
    font-weight: bold;
    font-family: 'Ubuntu';
}
.table-midweek {
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}
@media print
{
    .box-item{
        page-break-inside: avoid;
    }
}
.box-board {
    max-width: 800px;
    padding-top: 0.5rem;
    margin: auto;
}
b, strong {
    font-weight: bold;
}