{% load pdf %}
<div class="content">
{% for meeting in meetings %}
    <div class="box-item">
        <p><span class="date-item">{{meeting.date}}</span></p>
        <hr>
        <table class="table-designations">
            <tr>
                {% if meeting.designations.attendants.all %}
                <td class="title-designation">{% trans 'Attendants' %}:</td>
                <td class="two-names">{{meeting.designations.attendants.all|list_names}}</td>
                {% endif %}
                {% if meeting.designations.soundman.all %}
                <td class="title-designation">{% trans 'Audio/Video' %}:</td>
                <td class="two-names">{{meeting.designations.soundman.all|list_names}}</td>
                {% endif %}
            </tr>
            <tr>
                {% if meeting.designations.mic_passers.all %}
                <td class="title-designation">{% trans 'Mic Passer' %}:</td>
                <td class="two-names">{{meeting.designations.mic_passers.all|list_names}}</td>
                {% endif %}
                {% if meeting.designations.zoom.all %}
                <td class="title-designation">{% trans 'Zoom' %}:</td>
                <td class="two-names">{{meeting.designations.zoom.all|list_names}}</td>
                {% endif %}
            </tr>
        </table>
    </div>
{% endfor %}
</div>