{% load pdf %}
<div class="content">
{% for meeting in meetings %}
    <div class="box-item">
        <table class="table-midweek">
            <tr>
                <td style="width: 60%" class="date-midweek" {% if rooms == 2 %}colspan=2{% endif %}>{{meeting.date}} | {{meeting.midweek_content.reading_week}}</td>
                <td class="small-title pull-right" style="width: {% if rooms == 2 %}150{%else%}60{% endif %}px">{% trans 'President' %}:</td>
                <td style="width: 150px">{{meeting.midweek_content.president|default_if_none:""}}</td>
            </tr>
            <tr>
                <td {% if rooms == 2 %}colspan=2{% endif %}>{% trans 'Song' %} {{meeting.midweek_content.initial_song}}</td>
                <td class="small-title pull-right">{% trans 'Prayer' %}:</td>
                <td>{{meeting.midweek_content.initial_prayer|default_if_none:""}}</td>
            </tr>
            <tr>
                <td class="title-treasures" {% if rooms == 2 %}colspan=2{% endif %}>{% trans "Treasures From God's Word" %}</td>
                {% if rooms == 2 %}<td class="small-title">{% trans 'Room B' %}</td>{% endif %}
                <td class="small-title">{% trans 'Room A' %}</td>
            </tr>
            {% for t in meeting.midweek_content.treasures %}
            {% with next_element=meeting.midweek_content.treasures|next:forloop.counter0 %}
            {% with previous_element=meeting.midweek_content.treasures|previous:forloop.counter0 %}
            {% if t.room_treasure == 'A' %}
            <tr>
                <td {% if not t.reading %}colspan=2{% endif %}>{{t.title_treasure}} ({{t.duration_treasure}})</td>
                {% if t.reading %}
                <td class="small-title pull-right">{% trans 'Student' %}:</td>
                {% endif %}
                {% if next_element.room_treasure == 'B' %}
                    <td>{{next_element.person_treasure}}</td>
                {% endif %}
                <td>{% if t.room_treasure == 'A' %}{{t.person_treasure|default_if_none:""}}{% endif %}</td>
            </tr>
            {% endif %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
            <tr>
                <td class="title-apply" {% if rooms == 2 %}colspan=2{% endif %}>{% trans "Apply Yourself to the Field Ministry" %}</td>
                <td></td>
                <td></td>
            </tr>
            {% for a in meeting.midweek_content.apply_yourself %}
            {% with next_element=meeting.midweek_content.apply_yourself|next:forloop.counter0 %}
            {% with previous_element=meeting.midweek_content.apply_yourself|previous:forloop.counter0 %}
            {% if a.room_apply == 'A' %}
            <tr>
                <td>{{a.title_apply}} ({{a.duration_apply}})</td>
                <td class="small-title pull-right">{% if a.student %}{% trans 'Student' %}{% if a.assistant_id %} / {% trans 'Assistant' %}{% endif %}:{% endif %}</td>
                {% if next_element.room_apply == 'B' %}
                    <td>{{next_element.student|default_if_none:""}}{% if next_element.assistant_id %} / {{next_element.assistant}}{% endif %}</td>
                {% endif %}
                <td>{% if a.room_apply == 'A' %}{{a.student|default_if_none:""}}{% if a.assistant_id %} / {{a.assistant}}{% endif %}{% endif %}</td>
            </tr>
            {% endif %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
            <tr>
                <td class="title-living" {% if rooms == 2 %}colspan=2{% endif %}>{% trans "Living as Christians" %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td {% if rooms == 2 %}colspan=2{% endif %}>{% trans 'Song' %} {{meeting.midweek_content.second_song}}</td>
                <td></td>
                <td></td>
            </tr>
            {% for l in meeting.midweek_content.living_christians %}
            <tr>
                <td {% if rooms == 2 %}colspan=2{% endif %}>{{l.title_living}} ({{l.duration_living}})</td>
                <td></td>
                <td>{{l.person_living|default_if_none:""}}{% if l.reader_id %} / {{l.reader|default_if_none:""}}{% endif %}</td>
            </tr>
            {% endfor %}
            <tr>
                <td {% if rooms == 2 %}colspan=2{% endif %}>{% trans 'Song' %} {{meeting.midweek_content.final_song}}</td>
                <td class="small-title pull-right">{% trans 'Prayer' %}:</td>
                <td>{{meeting.midweek_content.final_prayer|default_if_none:""}}</td>
            </tr>
        </table>
        <hr/>
    </div>
{% endfor %}
</div>