<div class="content">
    <div class="meetings">
        {% for meeting in meetings %}

        <div class="box-item">
            <p><span class="date-item">{{meeting.date}}</span></p>
            <hr>
            <table class="table-weekend">
                <tr>
                    <td class="title-designation">{% trans 'Speaker' %}:</td>
                    <td class="two-names">{{meeting.weekend_content.speaker|default_if_none:""}}</td>
                    <td class="title-designation pull-right">{% trans 'Congregation' %}:</td>
                    <td class="two-names">{{meeting.weekend_content.speaker_congregation|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td class="title-designation">{% trans 'Theme' %}:</td>
                    <td class="two-names" colspan=3>{{meeting.weekend_content.theme|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td class="title-designation">{% trans 'President' %}:</td>
                    <td class="two-names">{{meeting.weekend_content.president|default_if_none:""}}</td>
                    <td class="title-designation pull-right">{% trans 'Reader' %}:</td>
                    <td class="two-names">{{meeting.weekend_content.reader|default_if_none:""}}</td>
                </tr>
            </table>
        </div>

        {% endfor %}
    </div>
    <div class="speakers">
        {% if speakers_out %}
        <p><span class="title-item">{% trans "Speakers Out" %}</span></p>
        <br/>
        {% for speaker in speakers_out %}
            <div class="box-item">
                <p><span class="date-item2">{{speaker.date}}</span></p>
                <hr>
                <table class="table-weekend">
                    <tr>
                        <td class="title-designation">{% trans 'Speaker' %}:</td>
                        <td class="two-names">{{speaker.speaker|default_if_none:""}}</td>
                        <td class="title-designation pull-right">{% trans 'Congregation' %}:</td>
                        <td class="two-names">{{speaker.congregation_dest|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td class="title-designation">{% trans 'Theme' %}:</td>
                        <td class="two-names" colspan=3>{{speaker.theme|default_if_none:""}}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>