{% extends 'base.html' %}

{% load static %}

{% block title %} - Login{% endblock %}
{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block menu %}
{% endblock %}
{% block wrapper %}

<div class="wrapper-page">

    <div class="card overflow-hidden account-card mx-3">
        <div class="bg-primary p-4 text-white text-center position-relative">
            <h4 class="font-20 m-b-5">{% trans "Welcome Back!" %}</h4>
            <p class="text-white-50 mb-4">{% trans "Sign in to continue." %}</p>
        </div>
        <div class="account-card-content">

            <form class="form-horizontal m-t-30" method="post" action=".?next={{next}}">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="form-group row m-t-20">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">{% trans "Log In" %}</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="m-t-40 text-center">
        {% include "rights.html" %}
    </div>

</div>


{% endblock %}
{% block footer %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block boxbreadcrumb %}
{% endblock %}
