{% extends 'base.html' %}
{% block title %}SGC - Login {% endblock %}
{% block body %}
<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form method="post" action=".?next={{next}}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">{% trans 'Sign in' %}</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>


</body>
{% endblock %}
</html>
