{% extends 'base.html' %}
{% block title %} - {{page_title}}{% endblock %}
{% block breadcrumb %}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">{{page_title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{{page_title}}</li>
            </ol>

        </div>
    </div>
</div>
{% endblock %}


{% block body %}
<div class="row col-12 card card-body">
    <form method="post" action="." class="form-horizontal" role="form" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            {% for item in form %}
            <div class="col-lg-3">
                {% bootstrap_field item %}
            </div>
            {% endfor %}
        </div>
        <div class="row" id="boxChecks" style="display:none">
            <div class="col-lg-12">
                <h3>{% trans "Confrontation" %}</h3>
                <div class="row">
                    {% for item in formOffTransaction %}
                    <div class="col-lg-3">
                        {% bootstrap_field item %}
                    </div>
                    {% endfor %}
                </div>
                <label>{% trans "Wire transfers / checks registered on the Account Sheet, but not yet processed by the bank:" %}</label><br/>
                <button type="button" class="btn btn-success addUnverifiedCheck"><span class="fa fa-plus fa-lg"></span> {% trans 'Add' %}</button>
                <div id="boxUnverifiedChecks">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-primary pull-right" type="submit" id="alter_search">{% trans 'Generate' %}</button>
        </div>
    </form>
</div>
<div id="unverifiedCheckModel" class="card border-primary card-body boxItem" style="display:none">
    <div class="row">
        <div class="col-lg-6">
            {% bootstrap_field formChecks.n_confirmation %}
        </div>
        <div class="col-lg-6">
            {% bootstrap_field formChecks.value %}
        </div>
        <div class="pull-right"><span class="fa fa-times fa-lg removeItem"></span></div>

    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $(document).ready(function() {
        $('select[name="type_pdf"]').on('change', function(e){
            if($(this).val() == 's26'){
                $('#boxChecks').show();
            }else{
                $('#boxChecks').hide();
            }
        });
        function insert_check(){
            var box = $('#unverifiedCheckModel').clone();
            box.attr('id', '');
            box.show();
            $('#boxUnverifiedChecks').append(box);
        }
        $('.addUnverifiedCheck').on('click', function(e){
            insert_check();
        });
        $('#boxUnverifiedChecks').on('click', '.removeItem', function(){
            $(this).parent().parent().parent().remove();
        });
    });
</script>
{% endblock %}