{% extends 'base.html' %}
{% load static %}

{% block title %} {% trans "Meeting Audience" %}{% endblock %}
{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block menu %}
{% endblock %}
{% block wrapper %}
<div class="content-page">
    <div class="wrapper-page">
        <div class="row col-12 card card-body">

            <form id="form" action"." method="post" class="form-horizontal"autocomplete=off>

                {% csrf_token %}
                {% bootstrap_field form.date %}
                {% bootstrap_field form.filled_by %}
                {% bootstrap_field form.count %}
                <fieldset class="form-group">
                    <legend>{% trans "Absences" %}</legend>
                    {% for publisher in all_publishers %}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="absences" class="form-check-input" type="checkbox" value="{{publisher.pk}}" {% if publisher.pk in checked_publishers %}checked="checked"{% endif %}>
                                {{publisher.full_name}}
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>
                {% bootstrap_field form.other %}

                <button id="submit" class="btn btn-primary pull-right" type="submit">{% trans 'Send' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block boxbreadcrumb %}
{% endblock %}
