{% extends 'base.html' %}
{% block title %} - {{page_title}}{% endblock %}

{% block breadcrumb %}

<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">{{page_title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'speakers_out' %}">{% trans 'Speakers Out' %}</a></li>
                <li class="breadcrumb-item active">{{page_title}}</li>
            </ol>

        </div>
    </div>
</div>
{% endblock %}


{% block body %}
<div class="row col-12 card card-body">

    <form id="form" action=".?{% get_next request %}" method="post" class="form-horizontal"autocomplete=off>

        {% csrf_token %}
        {% bootstrap_field form.date %}
        {% bootstrap_field form.congregation_dest %}
        {% bootstrap_field form.speaker %}
        <div id="boxTheme" class="row">
            <div class="col-lg-11">
                <div id="themeList">
                    {% bootstrap_field form.theme %}
                </div>
                <div id="themeStr" style="display:none">
                    {% bootstrap_field form.theme_str %}
                </div>
            </div>
            <div class="col-lg-1">
                <button id="btnChangeTheme" type="button" class="btn btn-success" style="margin-top: 30px;"><i class="fa fa-edit"></i></button>
            </div>
        </div>

        <button id="submit"  class="btn btn-primary pull-right" type="submit">{% trans 'Send' %}</button>
    </form>
</div>

{% endblock %}
{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#btnChangeTheme').on('click', function(){
            if($('#themeList').is(":visible")){
                $('#themeList').hide();
                $('#themeStr').show();
            }else{
                $('#themeStr').find('input').val("");
                $('#themeList').show();
                $('#themeStr').hide();
            }
        });
        if($('#themeStr').find('input').val() != "" && $('#themeList').find('select').val() == ""){
            $('#themeList').hide();
            $('#themeStr').show();
        }
    });
</script>
{% endblock %}