{% extends 'base.html' %}
{% block title %}SGC - {% trans 'Add Meeting' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>{% trans 'Add Meeting' %}</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li>{% trans 'Meetings' %}</li>
                    <li class="active">{% trans 'Add Meeting' %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 card card-body">
        <form method="post" action=".?next={{next}}" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="card" id="boxWeekendContent" style="display: none">
                <div class="card-body">
                    <h4 class="card-title">{% trans 'Weekend Content' %}</h4>
                    {% bootstrap_field form_weekendcontent.president %}
                    {% bootstrap_field form_weekendcontent.speaker %}
                    {% bootstrap_field form_weekendcontent.speaker_congregation %}
                    {% bootstrap_field form_weekendcontent.theme %}
                    {% bootstrap_field form_weekendcontent.reader addon_after='<span class="fa fa-lightbulb-o suggest"></span>' %}
                </div>
            </div>
            <div class="card" id="boxMidweekContent" style="display: none">
                <div class="card-body">
                    <h4 class="card-title">{% trans 'Midweek Content' %} <i id="spinner-midweek" class="fa fa-spinner fa-spin pull-right" style="font-size:24px; display:none"></i></h4>

                    {% bootstrap_form form_midweekcontent %}
                    <div class="card col-lg-12">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <h4 class="card-title">{% trans 'Treasures Content' %}</h4>
                                <button class="btn btn-primary pull-right" id="addTreasures" role="button" type="button">
                                    <i class="fa fa-plus"></i> {% trans 'Add' %}
                                </button>
                            </div>
                            <div id="boxTreasures" class="col-lg-12">
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-12">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <h4 class="card-title">{% trans 'Apply Yourself Content' %}</h4>
                                <button class="btn btn-primary pull-right" id="addApplyYourself" role="button" type="button">
                                    <i class="fa fa-plus"></i> {% trans 'Add' %}
                                </button>
                            </div>
                            <div id="boxApplyYourself" class="col-lg-12">
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-12">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <h4 class="card-title">{% trans 'Living Christians Content' %}</h4>
                                <button class="btn btn-primary pull-right" id="addLivingChristians" role="button" type="button">
                                    <i class="fa fa-plus"></i> {% trans 'Add' %}
                                </button>
                            </div>
                            <div id="boxLivingChristians" class="col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="boxDesignations">
                <div class="card-body">
                    <h4 class="card-title">{% trans 'Designations' %}</h4>
                    {% for f in form_designations %}
                    <div class="col-lg-3 field-designation">
                        {% bootstrap_field f addon_after='<span class="fa fa-lightbulb-o suggest"></span>' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-success pull-right">{% trans 'Send' %}</button>

        </form>
    </div>
</div>
<div class="card col-lg-6" id="boxTreasuresContentModel" style="display: none">
    <div class="card-body">
        <span class="fa fa-times remove-box pull-right"></span>
        {% bootstrap_form form_treasurescontent %}
    </div>
</div>
<div class="card col-lg-6" id="boxApplyYourselfContentModel" style="display: none">
    <div class="card-body">
        <span class="fa fa-times remove-box pull-right"></span>
        {% bootstrap_form form_applyyourselfcontent %}
    </div>
</div>
<div class="card col-lg-6" id="boxLivingChristiansContentModel" style="display: none">
    <div class="card-body">
        <span class="fa fa-times remove-box pull-right"></span>
        {% bootstrap_field form_livingchristianscontent.title_living %}
        {% bootstrap_field form_livingchristianscontent.person_living %}
        {% bootstrap_field form_livingchristianscontent.reader addon_after='<span class="fa fa-lightbulb-o suggest"></span>' %}
        {% bootstrap_field form_livingchristianscontent.duration_living %}
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $(document).ready(function() {
        $('form').on('submit', function(){
            if($('select[name="type_meeting"]').val() == 'w'){
                $('#boxMidweekContent').remove();
            }else{
                $('#boxWeekendContent').remove();
            }
        });
        $('#boxWeekendContent select').each(function(){
            $(this).selectpicker({liveSearch: true});
        });
        $('#boxMidweekContent select').each(function(){
            $(this).selectpicker({liveSearch: true});
        });
        $('select[name=type_meeting]').on('change', function(){
            if($(this).val() == 'w'){
                $('#boxMidweekContent').hide();
                $('#boxWeekendContent').show();
            }else{
                var date = $('#id_date').val();
                if(date != ""){
                    $('#spinner-midweek').show();
                    $.ajax({
                        url: '{% url "suggest_meeting" %}',
                        type: 'GET',
                        data: {type: 'midweek', date: date},
                    })
                    .done(function(data) {
                        $('input[name="reading_week"]').val(data.reading_week);
                        $('input[name="initial_song"]').val(data.first_song);
                        $('input[name="second_song"]').val(data.second_song);
                        $('input[name="final_song"]').val(data.third_song);
                        $('#boxTreasures').empty();
                        for (var i = 0; i < data.treasures.length; i++) {
                            add_treasures();
                            var box = $('#boxTreasures').children().last();
                            box.find('input[name="title_treasure"]').val(data.treasures[i].title);
                            box.find('input[name="duration_treasure"]').val(data.treasures[i].duration);
                        }

                        $('#boxApplyYourself').empty();
                        for (var i = 0; i < data.apply_yourself.length; i++) {
                            add_apply();
                            var box = $('#boxApplyYourself').children().last();
                            box.find('input[name="title_apply"]').val(data.apply_yourself[i].title);
                            box.find('input[name="duration_apply"]').val(data.apply_yourself[i].duration);
                        }

                        $('#boxLivingChristians').empty();
                        for (var i = 0; i < data.living_christians.length; i++) {
                            add_living();
                            var box = $('#boxLivingChristians').children().last();
                            box.find('input[name="title_living"]').val(data.living_christians[i].title);
                            box.find('input[name="duration_living"]').val(data.living_christians[i].duration);
                        }
                    })
                    .always(function() {
                        $('#spinner-midweek').hide();
                    });
                }

                $('#boxMidweekContent').show();
                $('#boxWeekendContent').hide();
            }
        });
        function add_treasures(){
            var box = $('#boxTreasuresContentModel').clone();
            box.attr('id', '');
            box.find('select').each(function(){
                $(this).selectpicker({liveSearch: true});
            });
            box.find('label[for=id_person_reading]').parent().hide();
            box.show();
            $('#boxTreasures').append(box);
        }
        $('#addTreasures').on('click', add_treasures);
        function add_apply(){
            var box = $('#boxApplyYourselfContentModel').clone();
            box.attr('id', '');
            box.find('select').each(function(){
                $(this).selectpicker({liveSearch: true});
            });
            box.show();
            $('#boxApplyYourself').append(box);
        };
        $('#addApplyYourself').on('click', function(){
            add_apply();
        });
        function add_living(){
            var box = $('#boxLivingChristiansContentModel').clone();
            box.attr('id', '');
            box.find('select').each(function(){
                $(this).selectpicker({liveSearch: true});
            });
            box.show();
            $('#boxLivingChristians').append(box);
        }
        $('#addLivingChristians').on('click', function(){
            add_living();
        });
        $('form').on('click', '.remove-box', function(){
            $(this).parent().parent().remove();
        });
        $('form').on('change', 'select[name=reading]', function(){
            if($(this).val()=="False"){
                $(this).parent().parent().parent().find('label[for=id_person_reading]').parent().hide();
                $(this).parent().parent().parent().find('label[for=id_person_treasure]').parent().show();
            }else{
                $(this).parent().parent().parent().find('label[for=id_person_reading]').parent().show();
                $(this).parent().parent().parent().find('label[for=id_person_treasure]').parent().hide();
            }
        });
        function find_duplicates(){
            $('select').each(function(index, el) {
                var value = $(this).val();
                var elem = $(this);
                var exists = false;
                if(value && value.length > 5){
                    $('select option[value='+value+']').each(function(index, el) {
                        if($(this).parent().val()==value && !elem.is($(this).parent()) && $(this).parent().val().length > 5){
                            exists = true;
                            $(this).parent().parent().addClass('invalid-select');
                            $(this).parent().parent().find('.invalid-feedback').remove();
                            var html = '<div style="display:block" class="invalid-feedback">{% trans "Duplicate Entry" %}</div>';
                            $(this).parent().parent().append(html);
                        }
                    });
                }
                if(exists == false){
                    $(this).parent().removeClass('invalid-select');
                    $(this).parent().find('.invalid-feedback').remove();
                }
            });
        }
        $('form').on('change', 'select', function(){
            find_duplicates();
        });

        $('form').on('click', '.suggest', function(){
            var date = $('#id_date').val();
            var select = $(this).parent().parent().find('select');
            var type = select.attr('name');
            if(type == "reader"){
                if($('#id_type_meeting').val() == 'w'){
                    type = 'reader_w';
                }else{
                    type = 'reader_m';
                }
            }
            $.ajax({
                url: '{% url "suggest_publisher" %}',
                type: 'GET',
                data: {"type": type, "date": date},
            })
            .done(function(data) {
                select.empty();
                for(var i = 0; i < data.length; i++){
                    select.append($("<option></option>")
                        .attr("value", data[i][0]).text(data[i][1]));
                }
                select.selectpicker('refresh');
            })
            .complete(function(){
                find_duplicates();
            })
        });

    });
</script>
{% endblock %}