{% extends 'base.html' %}
{% block title %}SGC - {% trans 'Meetings' %}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>{% trans 'Meetings' %}</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">{% trans 'Meetings' %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="get">
                    {% for f in form %}
                    <div class="col-lg-3">
                        {% bootstrap_field f %}
                    </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary pull-right">{% trans 'Search' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-12">
                    <a class="btn btn-primary pull-right" href="#" id="addMeeting" role="button">{% trans 'Add Meeting' %}</a>
                </div>
                {% render_table table 'table.html' %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="selectCongregation" tabindex="-1" role="dialog" aria-labelledby="selectCongregationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'add_meeting' %}" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectCongregationLabel">{% trans "Select Congregation" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% bootstrap_form form_select_congregation %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Add Meeting" %}</button>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $(document).ready(function() {
        $("#addMeeting").on('click', function(){
            $('#selectCongregation').modal();
        });
    });
</script>
{% endblock %}
