{% extends 'base.html' %}
{% block title %} - {{page_title}}{% endblock %}
{% block breadcrumb %}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">{{page_title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{{page_title}}</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}

<div class="row col-12 card card-body">
    {% render_table table "table.html" %}
</div>

{% endblock %}
{% block extrajs %}

<script>
    $(document).ready(function() {

        $('td').each(function(index, el) {
            if($(el).text() != "—" && !$(el).hasClass("speech")){
                $(el).addClass("table-success");
            }
        });
        var $table = $('.table');

        $table.bootstrapTable({
            search: true,
            locale: '{{request.LANGUAGE_CODE}}',
            height: 600,
            classes: "table table-bordered table-hover table-striped"
        });

    });
</script>
{% endblock %}