{% extends 'base.html' %}
{% block title %} - {{page_title}}{% endblock %}

{% block breadcrumb %}

<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">{{page_title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'field_service_reports' %}">{% trans 'Field Service Reports' %}</a></li>
                <li class="breadcrumb-item active">{{page_title}}</li>
            </ol>

        </div>
    </div>
</div>
{% endblock %}


{% block body %}
<div class="row col-12 card card-body">

    <form id="form" action=".?{% get_next request %}" method="post" class="form-horizontal"autocomplete=off>

        {% csrf_token %}
        {% bootstrap_form form %}

        <button id="submit" class="btn btn-primary pull-right" type="submit">{% trans 'Send' %}</button>
    </form>
</div>

{% endblock %}